<div>
    <div class="deliverability-score" :title="status">
        <sw-icon name="default-package-closed" decorative=true :color="statusColor"/>
        <span class="score">{{ statusLabel }}</span>
    </div>
</div>
