.sw-order-detail-details__analysis-details {
  .logo{
    margin-bottom: 1em;
    width: 150px;
  }
  .sw-field__label {
    font-weight: 800;
  }
  .deliverability-score{
    font-weight: 700;
    margin-top: 12px;
  }
  .sw-description-list {
    margin-top: 8px;
    dt, dd {
      padding: 0;
    }
    dt {
      margin-bottom: 8px;
    }
    &.detected-issues {
      dt {
        margin-bottom: calc(12px - 0.5em);
      }
      dd.issue {
        line-height: 1em;
        padding: 0.5em;
      }
    }
  }
  .post-addressHint {
    margin-top: 0.5em;
    .sw-icon {
      margin-right: 1em;
    }
  }
}
