.suggested-address-box {
    position: relative;
    .address-parts {
        margin: .75em .5em;
        font-size: 1.1em;
        line-height: 1.2;
        .different {
            font-weight: bolder;
            color: #189eff;
        }
    }
}
