<div>
    <div class="deliverability-score" :title="status">
        <mt-icon name="regular-truck" decorative="true" :color="statusColor" size="24px"/>
        <span class="score">{{ statusLabel }}</span>
    </div>
</div>