<div>
    {% block nr_addressfactory_api_test_button %}
        <mt-button
            :disabled="false"
            variant="secondary"
            @click="onButtonClick()"
        >
            {{ $t('postdirekt-addressfactory.apiTest.buttonLabel') }}
        </mt-button>
        <mt-loader v-if="isLoading"/>
    {% endblock %}
</div>