.suggested-address-box {
  .sw-description-list {
    dd.address-parts {
      padding: 0 0.5em;
      border-bottom: none;

      .different {
        font-weight: bolder;
        color: #189eff;
      }
    }
  }
  button {
    margin-top: 8px;
  }
}
