{% block nr_addressfactory_infobox %}
<div class="nr-infobox">
    <div class="header" :style="'background-color:' + headerColor">
        <img height="40" alt="Logo" class="logo" :src="getLogoPath()"/>
        <div class="version">{{ version }}</div>
    </div>
    <div class="body" :style="'background-color:' + bodyColor" v-html="$t('postdirekt-addressfactory.infobox.bodyHtml')"></div>
</div>
{% endblock %}
